@import 'reset';

/* Module: logo */

.logo { text-decoration: none; }

.logo__title { padding: 0; margin: 0;
               font: {
                   size: 2em;
                   weight: bold;
               };
}

.logo__subtitle { padding: 0; margin: 0;
                  font: {
                      size: .9em;
                  };
}

.site-footer { background: #efefef; padding: 1em; }