* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px/1.5;
  font-family: Anaheim, sans-serif; }

body {
  margin: 0;
  padding: 0; }

/* Module: logo */
.logo {
  text-decoration: none; }

.logo__title {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold; }

.logo__subtitle {
  padding: 0;
  margin: 0;
  font-size: .9em; }

.site-footer {
  background: #efefef;
  padding: 1em; }
