pre {
  margin-bottom: var(--global-spacing-regular);
  margin-top: var(--global-spacing-regular);
}

code,
kbd,
var,
samp {
  padding: 0 0.35rem;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  font-family: "Monaco", "Courier New", monospace;
  font-style: normal;
}

kbd,
var,
samp {
  background: ghostwhite;
}

code {
  background: black;
  color: turquoise;
}

pre code {
  border-left: 0.5rem solid;
  display: block;
  overflow: auto;
  padding: var(--global-spacing-regular);
}
