label {
  position: relative;
  display: block;
  margin-bottom: var(--global-spacing-regular);
}

label input,
label select,
label textarea {
  margin-left: var(--global-spacing-small);
}

input,
textarea,
select,
button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--global-size) * 1px);
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -0.01em;
  vertical-align: middle;
  border-radius: 0;
  background: white;
}

input,
textarea,
select {
  padding: var(--global-spacing-small) var(--global-spacing-regular);
  border: 2px solid rgba(0, 0, 0, 0.25);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  max-width: 100%;
}

input,
select {
  height: 3.3em;
}

input[type=radio],
input[type=checkbox] {
  margin-left: 0;
  padding: 0;
  width: 1.65em;
  height: 1.65em;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: hidden;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--global-colors-action);
  outline: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  border-color: transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}

@media all and (min-width: 1000px) {
  input,
  select {
    height: 2.8em;
  }
}
