/*------------------------------------*\
    #BRAND
\*------------------------------------*/
$brand--color--contrast--1:          #2E353A;

$brand--text--contrast--high: #fff;
$brand--text--contrast--low: #78898F;

$brand--nav-border-style: .1em solid;

$brand--link-color: #108DFF;
$brand--link-color--contrast: #FAFAD7;
$brand--link-color-current--contrast: #FF6969;

$brand--main-border-style: .1em solid #CBD8E2;