/*------------------------------------*\
    #BRAND
\*------------------------------------*/
$brand--color--contrast--1:          #131517;

$brand--nav-border-style: .1em solid;

$brand--main-border-style: .1em solid #E6F1FA;


/** 
 * Highlights
 */

$brand--highlight--subtle: #EBFAFF;

/**
 * Typography
 */

$brand--text-color: #314147;
$brand--headings-color: #202C37;
$brand--headings-color--inverse: #fff;

$brand--link-color: #108DFF;
$brand--link-color--hover: #29A6FF;
$brand--link-color--contrast: #FAFAD7;
$brand--link-color-current--contrast: #FF6969;

$brand--text--contrast--high: #fff;
$brand--text--contrast--low: #78898F;

/** 
 * Code
 */

$brand--code-background: #2E353A;
$brand--code-color: #B8E460;