/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Generic, non-specific variables.
 */
$base--font-size:       15px;
$base--line-height:     1.5;

$show-baseline-grid:    false;





/**
 * Framework variables. We don’t need to edit these, they’re just handy
 * variables sourced from other settings.
 */
$base--spacing-unit:    1em;


/**
 * Breakpoints
 */

$breakpoint--small: 28em;

$breakpoint--medium: 48em;

$breakpoint--large: 68em;

/**
 * Content width
 */

$max-content-width: 38em;