/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
    color: $brand--link-color;
    font-weight: bolder;

    &:hover {
        color: $brand--link-color--hover;
    }
}
