/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Everything related to typography.
 */

html {
    color: $brand--text-color;
    font: {
        family: sans-serif;
        weight: 300;
    }

    @media
    only screen and (min-width: $breakpoint--small) and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-width: $breakpoint--small) and (   min--moz-device-pixel-ratio: 2),
    only screen and (min-width: $breakpoint--small) and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (min-width: $breakpoint--small) and (        min-device-pixel-ratio: 2),
    only screen and (min-width: $breakpoint--small) and (                min-resolution: 192dpi),
    only screen and (min-width: $breakpoint--small) and (                min-resolution: 2dppx) {

        font: {
            weight: 200;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $brand--headings-color;
    font: {
        family: "Roboto Slab", sans-serif;
        weight: 700;
    };
    line-height: 1.2;
}

// Make code blocks slightly smaller
code[class*="language-"] {
    font-size: 80%;
}

blockquote {
    font-style: italic;
    text-align: center;

    p {
        font-size: 2em;
        color: lighten($brand--text-color, 30%);
        letter-spacing: -.05em;
    }
}

@media all and (min-width: $breakpoint--small) {
    blockquote {
        margin-left: double(-$base--spacing-unit);
        margin-right: double(-$base--spacing-unit);
    }
}