.clean-link {
    transition: none;

    &:after {
        content: none;
    }

    &:active {
        transform: none;
    }
}

.vertical-middle {
    position: absolute;
    z-index: 0;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

@include _screen-small {
    .vertical-middle--sm {
        position: absolute;
        z-index: 0;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
    }
}