.nav { }

.nav__list { }

.nav__item { }

.nav__link {
    display: block;
    padding: $_base-spacing;
    text-transform: uppercase;
    color: $color-text-1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:active {
        transform: none;
    }

    &:after,
    &:hover:after {
        height: .15em;
        background: $color-text-1;
    }
}

.nav__link--active {
    color: $color-text-alt-2;
}

.nav__link--special{
    color: $color-action;

    &:after {
        content: none;
    }
}

@include _screen-mobile {
    .nav__link {
        &:after {
            transform-origin: left;
        }

        &:active {
            color: $color-text-alt-2;
            transform: translateX(.5em);
        }
    }

    .nav--main {
        background: $color-bg-alt-1;

        .nav__link {

            &:after {
                transform: scale(1);
            }

            &:not(.nav__link--special):not(.nav__link--active) {
                color: $color-text-alt-1;
            }
        }

    }
}

@include _screen-small {

    .nav__item {
        display: inline-block;

        & + .nav__item {
            margin-left: $_base-spacing;
        }
    }

    .nav__link {
        padding: {
            left: 0;
            right: 0;
        }

        &:not(.nav__link--active):active {
            transform: translateY(.2em);

            &:after {
                transform: translateY(-.5em);
            }
        }
    }

    .nav__link--active {
        &:after,
        &:hover:after {
            transform: scale(1);
            background: $color-text-alt-2;
        }
    }

    .nav__link--special {
        padding: $_base-spacing;
        border: .2em solid $color-action;
        border-radius: .2em;
        transition: all .2s;

        &:after {
            content: none;
        }

        &:hover {
            color: $color-text-alt-1;
            background: $color-action;
        }
    }

    .nav--alt {

        .nav__link:not(.nav__link--special):not(.nav__link--active) {
            color: $color-text-alt-1;

            &:after {
                background: $color-text-alt-1;
            }
        }
    }
}

@include _screen-medium {
    .nav__item + .nav__item {
        margin-left: $_base-spacing * 2;
    }
}