.section {
    padding: $_base-spacing;
    position: relative;
}

.section--alt   { background: $color-bg-alt-1; }
.section--alt2  { background: $color-bg-alt-2; }

@include _screen-small {
    .section {
        padding: 0 $page-padding-small;
    }
    
    .section--image { background-repeat: no-repeat; }
    .section--ux    { background-image: url(/assets/images/wireframe.png); }
    .section--fed   { background-image: url(/assets/images/laptop.png); }

    .section--full,
    .section__content {
        min-height: 100vh;
    }

    .section__content {
        max-width: 70%;
        position: relative
    }

    .section--about { background-image: url(/assets/images/craig.jpg); }

    .section--about {
        background-position: right bottom;
        background-size: auto 80%;
    }

    .section--ux {
        background-position: 97.5% 60%;
        background-size: 30% auto;
    }
    
    .section--fed {
        background-position: right bottom;
        background-size: auto 75%;
    }
}

@include _screen-large {
    .section__content {
        max-width: 60%;
    }

    .section--ux {
        background-size: 30% auto;
    }
}