{{render '@header--default' header}}

<section class="content splash">
  <div class="content__section splash__content">
    <h1>About This Project</h1>
    <p>
      <strong>
        <em>Let me explain why I started this website and how is it different to other blogs and portfolio sites.</em>
      </strong>
    </p>
    <p>My name is Adam Poczatek (see my profile on <a href="#linkedin">LinkedIn</a>) and I’ve been designing and developing websites professionally since 2009 but I played around with HTML and CSS for a bit longer. My main priority was always learning new things and that always gave me the biggest satisfaction.</p>
    <p>Lately, I felt like my career choices were not great - I didn’t feel like I’m learning new things anymore - I felt like something that was once my passion become my profession (obviously) and I just didn’t enjoy it as much as I used to.</p>
    <p>Being a perfectionist doesn’t help either. Whenever I wanted to try a new technology it had to be a real-world project, 100% perfect and only then I would consider sharing it with the world. So instead of creating a quick prototype on codepen I created git repositories and spend most of my time setting up a development environment. Before I even got to try the new technology I was already bored of it or started reading about something else.</p>
    <h2>Constantly Changing Industry</h2>
    <p>I don't know about you but to me it feels like new technologies / libraries / best practices (you name it) are being released every signle day and keeping up with it feels rather overwhelming.</p>
    <p>And then you have people saying things like:</p>
    <blockquote>
      <p>You will never be the best at everything</p>
    </blockquote>
    <p>I felt like it’s just an excuse for lazy people - to me it was more of a challenge and I kept bookmarking more and more articles in my list of things to read. The problem was that I rarely had time to actually read any of it.</p>
    <h2>What's changed?</h2>
    <p>I went to Smashing Conf 2017 and one of the presentations really helped me understand my problem - it was NAME LAST NAME talk on Imposter Syndrome. At that time I really felt like he was talking directly to me.</p>
    <p>I decided to give myself a break, relax a bit and learn something completely different so I started learning Python. It was much easier to pick up than I thought. In fact, learning Python helped me understand certain concepts like function generators which in JavaScript made no sense to me.</p>
    <p>I’m still a perfectionist - I can’t help it, however, my focus has shifted. I’m no longer trying to learn every single new thing that’s currently trending. Instead, I’m trying to take my time and enjoy it.</p>
    <h3>What's the plan?</h3>
    <p>Well, I’m not planning to tell you how to write code or tell you what the best practices are - there are plenty of great blogs and authors that know <q>the best ways</q> to do something. Instead, I’m going to share with you my thoughts, experiments and even case studies of my day-to-day job, and, in return I’m asking you to tell me what you think about it. Let’s keep this space informal and chilled out - there are no wrong questions or invalid suggestions.</p>
    <p>Lastly, English is my second language so please forgive me any grammar or spelling mistakes. One of the reasons I started this website is actually to get better at it.</p>
    <p><em>So, it doesn’t matter if you’re CTO, a developer or someone who's just trying to get into the industry - your opinion matters to me and to other people reading this website.</em></p>
    <a href="#" class="button button--primary">View The Hub</a>
    <a href="#" class="button">See My Work</a>
  </div>
</section>

<script src="http://localhost:3100/js/global.bundle.js"></script>