{{render '@header--default' header}}

<section class="content splash">
  <div class="content__section splash__content">
    <h1>About</h1>
    <p>
      <em>
        <strong>My name is Adam Poczatek and I'm web designer and developer from Reading, UK.</p> <p></strong>
      </em>
    </p>

    <p>I've been playing around with the web for a while and I decided it's time to give something back to the community.</p>
    <p>I often struggle to keep up with the latest trends and I know many other developers feel the same &mdash; it seems like there is a new <em>thing</em> being released every single day and it feels overwhelming at times</p>
    <p>Seriously, I haven't had a chance to properly try Angular 2 and it's already on version 5.</p>
    <p>My plan is to publish short and concise articles about things that I find interesting and provide you with some real-world use cases.</p>
    <h2>My Background</h2>
    <p>Over the last couple of years I've been lucky enough to work with some great companies like <a href="#">Majestic Wine</a>, <a href="#">Salmon</a>, <a href="#">Brand View</a> and <a href="#">Yell</a> to name a few, helping them deliver amazing products for their customers.</p> 
    <p>I worked on various different projects ranging from simple brochure websites that we designed, built and deployed within a day, to huge projects that took us months of carefully planned worked to make sure it was all done and dusted by the release date.</p>
    <p>I always loved all aspects of web design &mdash; from inception meetings and brainstorming, to wireframing and design, to development and testing and, of course, release and maintenance &mdash; that's why I always struggle to say exactly what my job title is! In most cases I was involved in all of these steps but I would say my main focus was always on the <em>UX, UI design and front-end development</em>.</p>
    <p>I encourage you to check out my <a href="#">work</a> to see some of the projects I was involved with and for more details about my work experience see my <a href="#">Linked In profile</a> or <a href="#">download my résumé</a>.</p>
  </div>
</section>

<script src="http://localhost:3100/js/global.bundle.js"></script>