<figure>
  <pre><code>&lt;h1&gt;Et est et ratione voluptatem.&lt;/h1&gt;
&lt;a href&#x3D;&quot;#&quot;&gt;rem&lt;/a&gt;</code></pre>
  <figcaption>Code example</figcaption>
</figure>
<figure>
  <table>
    <caption>Selected display standards</caption>
    <thead>
      <tr>
        <th>Country</th>
        <th class="table--numbers">Area</th>
        <th class="table--numbers">Population</th>
        <th class="table--numbers"><abbr class="c2sc">GDP</abbr></th>
        <th>Capital</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Austria</td>
        <td class="table--numbers">83,858</td>
        <td class="table--numbers">8,169,929</td>
        <td class="table--numbers">339</td>
        <td>Vienna</td>
      </tr>
      <tr>
        <td>Belgium</td>
        <td class="table--numbers">30,528</td>
        <td class="table--numbers">11,007,000</td>
        <td class="table--numbers">410</td>
        <td>Brussels</td>
      </tr>
      <tr>
        <td>Denmark</td>
        <td class="table--numbers">43,094</td>
        <td class="table--numbers">5,564,219</td>
        <td class="table--numbers">271</td>
        <td>Copenhagen</td>
      </tr>
      <tr>
        <td>France</td>
        <td class="table--numbers">547,030</td>
        <td class="table--numbers">66,104,000</td>
        <td class="table--numbers">2,181</td>
        <td>Paris</td>
      </tr>
      <tr>
        <td>Germany</td>
        <td class="table--numbers">357,021</td>
        <td class="table--numbers">80,716,000</td>
        <td class="table--numbers">3,032</td>
        <td>Berlin</td>
      </tr>
      <tr>
        <td>Greece</td>
        <td class="table--numbers">131,957</td>
        <td class="table--numbers">11,123,034</td>
        <td class="table--numbers">176</td>
        <td>Athens</td>
      </tr>
      <tr>
        <td>Ireland</td>
        <td class="table--numbers">70,280</td>
        <td class="table--numbers">4,234,925</td>
        <td class="table--numbers">255</td>
        <td>Dublin</td>
      </tr>
      <tr>
        <td>Italy</td>
        <td class="table--numbers">301,230</td>
        <td class="table--numbers">60,655,464</td>
        <td class="table--numbers">1,642</td>
        <td>Rome</td>
      </tr>
      <tr>
        <td>Luxembourg</td>
        <td class="table--numbers">2,586</td>
        <td class="table--numbers">448,569</td>
        <td class="table--numbers">51</td>
        <td>Luxembourg</td>
      </tr>
      <tr>
        <td>Netherlands</td>
        <td class="table--numbers">41,526</td>
        <td class="table--numbers">16,902,103</td>
        <td class="table--numbers">676</td>
        <td>Amsterdam</td>
      </tr>
      <tr>
        <td>Portugal</td>
        <td class="table--numbers">91,568</td>
        <td class="table--numbers">10,409,995</td>
        <td class="table--numbers">179</td>
        <td>Lisbon</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td class="table--numbers">504,851</td>
        <td class="table--numbers">47,059,533</td>
        <td class="table--numbers">1,075</td>
        <td>Madrid</td>
      </tr>
      <tr>
        <td>Sweden</td>
        <td class="table--numbers">449,964</td>
        <td class="table--numbers">9,090,113</td>
        <td class="table--numbers">447</td>
        <td>Stockholm</td>
      </tr>
      <tr>
        <td>United Kingdom</td>
        <td class="table--numbers">244,820</td>
        <td class="table--numbers">65,110,000</td>
        <td class="table--numbers">2,727</td>
        <td>London</td>
      </tr>
    </tbody>
  </table>
</figure>
<section>
  <h1>The Republican Civil War Is Over — The Populists Won</h1>
  <p><em>We’re witnessing a major political realignment</em></p>
  <p>Announcing that he will <em>retire at the end of this term,</em>    Arizona Senator Jeff Flake delivered a <a href="#fasda">blistering critique of President Donald Trump:</a></p>
  <blockquote>
    <p>We must never meekly accept the daily sundering of our country — the personal attacks, the threats against principles,
      freedoms, and institutions; the flagrant disregard for truth or decency, the reckless provocations, most often for
      the pettiest and most personal reasons, reasons having nothing whatsoever to do with the fortunes of the people that
      we have all been elected to serve.</p>
    <footer>
      Donald Trump, <cite>interview with BBC News</cite>
    </footer>
  </blockquote>
  <p>Flake thus joins Tennessee Senator Bob Corker as a vocal, retiring <a href="http://google.co.uk">anti-Trump Republican</a>.
    Corker has been calling the president a threat to national security whose legacy will be <q>the debasement of our nation.</q></p>
  <figure>
    <img src="http://via.placeholder.com/350x150" />
    <figcaption>Hey 'Resisters,' Is Trump an Existential Threat to America Or Not?</figcaption>
  </figure>
  <p>Flake is 54 — young for a
    <del>Senator</del>
    <ins>Gubernator</ins> — and in fine health. He’s retiring because of poor reelection prospects. A recent Morning Consult poll
    found that just 30% of Arizonans approve of his performance, compared to 53% who disapprove. Among Arizona Republicans,
    it’s 37% — 50%. And he’s trailing pro-Trump, Bannon-backed candidate Kelli Ward in primary polls by double digits.</p>
  <p>
    <s>According to Gallup’s weekly tracking poll, <a href="#">Trump’s national approval rating</a> among Republicans is 80%.
      Flake is thus the latest conservative to realize the Republican party has left him. He’s still the same small government
      advocate, but the dominant force in the party is right-wing populism.</s>
  </p>
  <h2>The New Realignment</h2>
  <p>The main ideological divide in American politics has shifted from big government vs. small government—that is, pro- and
    anti-redistribution — to Together vs. Apart. This is taking place all across the West, and American political parties
    are just starting to catch up.</p>
  <h2>21st Century Conservatism</h2>
  <p><img class="content--right" src="http://via.placeholder.com/150x150" />Some conservatives see Trump as an aberration — as
    if he stole their party through charismatic, reality show media manipulation and they’ll get it back as soon as he’s
    gone.</p>
  <p>However, while Trump is the Apartists’ current avatar, the forces are bigger than he is. This was most evident in the recent
    Alabama Republican Senate primary, in which the establishment-friendly, Trump-endorsed Luther Strange lost to Roy Moore,
    who believes Muslims should be disqualified from holding office, and twice lost his post as Alabama’s chief justice for
    defying the Constitution.</p>
  <p>Conservatives still play a large role in Congress, but haven’t been able to translate that into legislative success. After
    failing on healthcare, and abandoning plans for revenue-neutral tax reform, they might squeeze through a deficit-financed
    tax cut that mostly benefits the wealthiest Americans. But they’re on the decline — either retiring like Corker, wilting
    in the face of a populist primary challenge like Flake, or opportunistically kowtowing to Trump, like Paul Ryan and Ted
    Cruz.</p>
  <p>The word <q>conservative</q> will probably stick around. But it’s lost much of the connection to conservatism.</p>
  <p>The main pillars of conservative political philosophy are:</p>
  <ul>
    <li>Burke’s wariness of abandoning traditional values and societal structures, perhaps best expressed in William F. Buckley’s
      quip about <q>standing athwart history yelling ‘Stop!’</q></li>
    <li>Advocacy of individual freedom, as illustrated the in Constitution’s Bill of Rights.</li>
    <li>Support for markets and decentralized control — most notably in contrast to the central planning of socialism —primarily
      associated with economists such as F.A. Hayek and Milton Friedman.</li>
  </ul>
  <p>Right-wing populists reject most of that, except for a selective reading of individual rights — 2nd amendment absolute,
    1st and 4th not — and a version of <q>traditional values</q> that makes modern Burkeans cringe. They support entitlements,
    as long as those entitlements go to <q>us</q> and not <q>them.</q> They’re comfortable with attacks on individual freedom,
    such as Trump’s threats against the press and peaceful protesters. And they like government intervention into the economy,
    so long as it’s in favor of industries they consider <q>theirs,</q> such as coal mining or certain types of manufacturing.</p>
  <h2>The Last Realignment</h2>
  <p>The successful, late-20th century Republican party grew out of the last major realignment. The GOP shifted U.S. politics
    away from the redistributionist, pro-regulation New Deal coalition by cobbling together:</p>
  <ol>
    <li>Ideological small government and economic conservatives, many of whom favored Barry Goldwater’s failed 1964 presidential
      campaign.</li>
    <li>National security hawks, including both Eisenhower traditionalists and neoconservatives.</li>
    <li>Social and religious conservatives, who opposed cultural changes, such as the sexual revolution, secularization, and
      legalized abortion.</li>
    <li>Southern whites who didn’t like Civil Rights.</li>
  </ol>
  <p>The southern whites were mostly Democrats, owing to Republicans’ legacy as the party of Lincoln. George Wallace, for example,
    became governor of Alabama in 1963 as a Democrat, making states’ rights arguments to oppose racial integration of schools.
    Goldwater captured many of those voters when running against pro-Civil Rights Democrat Lyndon Johnson, and Nixon courted
    them in 1968 with the <q>Southern Strategy.</q></p>
  <p>This Republican coalition reached its apotheosis in the 1980s with Ronald Reagan’s two presidential election landslides.
    It delivered George HW Bush one presidential term — the only time a party has held the White House for more than eight
    years since Truman — and stayed together through the early 2000s. Though a Democrat, Bill Clinton declared the era of
    big government is over, made welfare reform and balanced budget deals with the Republican Congress led by Newt Gingrich,
    and reduced financial regulations. George W. Bush similarly combined tax cutters, hawks, Christians, and southern whites
    to win two presidential terms, albeit by much closer margins than Reagan.</p>
</section>
<hr />
<section>
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <p>Ut dignissim scelerisque metus vitae molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Integer fermentum odio vitae laoreet cursus. Donec elementum velit maximus velit facilisis laoreet. Sed
    ultricies fermentum justo. Curabitur semper eleifend eros ac porta. Phasellus at ornare erat.</p>
  <ul>
    <li>Aliquam consectetur</li>
    <li>Enim et vehicula ultrices</li>
    <ul>
      <li>Elit augue pulvinar ante</li>
      <li>Efficitur viverra sem arcu ut urna</li>
      <ol>
        <li>Cras tempus neque eget ante vestibulum</li>
        <li>auctor accumsan enim gravida</li>
      </ol>
      <li>Orci varius natoque penatibus et magnis dis parturient montes</li>
      <li>nascetur ridiculus mus</li>
    </ul>
    <li>Nullam mattis nisl felis</li>
    <li>Non lacinia lorem congue a</li>
  </ul>
  <p>Ex quam auctor diam, sed congue orci lectus eget est. Integer semper tellus sit amet arcu condimentum euismod. Praesent
    pellentesque diam eu lectus bibendum vestibulum. Cras ut ipsum sed urna venenatis vestibulum. Pellentesque vel lorem
    dictum, blandit est vel, vestibulum ligula. Etiam hendrerit placerat est, faucibus blandit elit pellentesque euismod.
    Duis lacinia lorem sit amet ligula rutrum, quis imperdiet urna mollis. Mauris aliquam enim tellus, in hendrerit metus
    rutrum eget. Morbi tristique lectus et sem tempus, sit amet tempor ipsum venenatis.</p>
  <h2>Integer posuere, justo nec dictum euismod</h2>
  <p>Elit leo vehicula eros, quis fermentum lorem ligula eget purus. Fusce sollicitudin placerat lacus at pulvinar. Etiam eu
    neque placerat, consequat nunc eu, ultricies massa. Nullam ultrices tellus sit amet augue convallis consequat. Donec
    consequat, tortor non scelerisque feugiat, magna nulla varius justo, sed pulvinar sapien felis nec dolor. Suspendisse
    potenti. Nunc ac nisl non tellus rhoncus vestibulum in eget nisi. Vivamus accumsan ut nulla eget molestie.</p>
  <h3>Pellentesque pretium, quam ac fringilla scelerisque</h3>
  <ol>
    <li>Orci varius natoque penatibus</li>
    <li>Et magnis dis parturient montes</li>
    <li>Nascetur ridiculus mus</li>
    <ol>
      <li>Suspendisse potenti</li>
      <li>Duis eu ornare eros</li>
      <ul>
        <li>Proin vulputate libero id arcu pretium</li>
        <li>At auctor erat sodales</li>
      </ul>
    </ol>
  </ol>
  <h4>Nulla sed posuere dolor</h4>
  <p>Praesent suscipit leo dolor, facilisis facilisis quam porttitor ac. Mauris faucibus quis eros vitae posuere. Suspendisse
    at velit id leo interdum imperdiet a et erat. Mauris velit diam, ultrices at ligula eget, aliquam cursus odio. Donec
    congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
  <hr />
  <p>Quisque pellentesque augue a tempor faucibus</p>
  <table>
    <thead>
      <tr>
        <th>Heading 1</th>
        <th>Heading 2</th>
        <th>Heading 3</th>
        <th>Heading 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
    </tbody>
  </table>
  <p>Fusce <code>&lt;section&gt;</code>sollicitudin placerat lacus at pulvinar. Etiam eu neque placerat, <var>deleniti</var>    consequat nunc eu, ultricies massa. Nullam <kbd>ctrl + x</kbd> ultrices tellus sit amet augue convallis consequat. Donec
    consequat, tortor non scelerisque feugiat, magna nulla varius justo, sed pulvinar sapien felis nec dolor. Suspendisse
    potenti. Nunc ac nisl non tellus <samp>This text is meant to be treated as sample output from a computer program</samp>    rhoncus vestibulum in eget nisi. Vivamus accumsan ut nulla eget molestie.</p>
  <pre><code>&lt;h1&gt;Nisi perferendis dolorum.&lt;/h1&gt;
  &lt;a href&#x3D;&quot;#&quot;&gt;amet&lt;/a&gt;</code></pre>
  <p>Pellentesque pretium, <a href="#">quam ac fringilla</a> scelerisque, elit leo vehicula eros, quis fermentum lorem ligula
    eget purus.</p>
  <figure>
    <img src="http://via.placeholder.com/350x150" />
    <figcaption>Image caption</figcaption>
  </figure>
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam viverra ac felis non congue.
    Suspendisse potenti. Duis eu ornare eros. Proin vulputate libero id arcu pretium, at auctor erat sodales. Nulla sed posuere
    dolor. Quisque pellentesque augue a tempor faucibus. Praesent suscipit leo dolor, facilisis facilisis quam porttitor
    ac. Mauris faucibus quis eros vitae posuere. Suspendisse at velit id leo interdum imperdiet a et erat. Mauris velit diam,
    ultrices at ligula eget, aliquam cursus odio. Donec congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
  <dl>
    <dt>Lavern Murphy</dt>
    <dd>Dynamic</dd>
    <dt>Amaya Osinski</dt>
    <dd>Legacy</dd>
    <dt>Mrs. Sam Lynch</dt>
    <dd>National</dd>
    <dt>Kane Fritsch</dt>
    <dd>Product</dd>
    <dt>Pablo Weissnat</dt>
    <dd>Human</dd>
  </dl>
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam viverra ac felis non congue.
    Suspendisse potenti. Duis eu ornare eros. Proin vulputate libero id arcu pretium, at auctor erat sodales. Nulla sed posuere
    dolor. Quisque pellentesque augue a tempor faucibus. Praesent suscipit leo dolor, facilisis facilisis quam porttitor
    ac. Mauris faucibus quis eros vitae posuere. Suspendisse at velit id leo interdum imperdiet a et erat. Mauris velit diam,
    ultrices at ligula eget, aliquam cursus odio. Donec congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt
    nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere,
    ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam
    ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae
    dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et
    erat id metus lobortis laoreet at sed nisi.</p>
  <form>
    <label for="name">Name</label>
    <input id="name" type="text">

    <label for="email">Email Address</label>
    <input id="email" type="email">

    <label for="tel">Telephone</label>
    <input id="tel" type="tel">

    <label for="dob">Date of Birth</label>
    <input id="date" type="date">

    <label for="cv">Resume</label>
    <input id="cv" type="file">

    <label for="years-exp">Years of Experience</label>
    <input id="years-exp" type="number">

    <input id="rg1opt1" name="rg1" type="radio">
    <label for="rg1opt1">Option 1</label>

    <input id="rg1opt2" name="rg1" type="radio">
    <label for="rg1opt2">Option 2</label>

    <input id="rg1opt3" name="rg1" type="radio">
    <label for="rg1opt3">Option 3</label>

    <input id="tc" type="checkbox">
    <label for="tc">Accept terms and conditions</label>

    <label id="feedback">How did you find out about us?</label>
    <select>
      <option>Google</option>
      <option>Friend</option>
      <option>Magazine</option>
    </select>

    <input type="submit" value="Send" />
  </form>

  <form>
    <label for="name">
      Name
      <input id="name" type="text">
    </label>

    <label for="email">
      Email Address
      <input id="email" type="email">
    </label>

    <label for="tel">
      Telephone
      <input id="tel" type="tel">
    </label>

    <label for="dob">
      Date of Birth
      <input id="date" type="date">
    </label>

    <label for="cv">
      Resume
      <input id="cv" type="file">
    </label>

    <label for="years-exp">
      Years of Experience
      <input id="years-exp" type="number">
    </label>

    <label for="rg1opt1">
      <input id="rg1opt1" name="rg1" type="radio">
      Option 1
    </label>

    <label for="rg1opt2">
      <input id="rg1opt2" name="rg1" type="radio">
      Option 2
    </label>

    <label for="rg1opt3">
      <input id="rg1opt3" name="rg1" type="radio">
      Option 3
    </label>

    <label for="tc">
      <input id="tc" type="checkbox">
      Accept terms and conditions
    </label>

    <label id="feedback">How did you find out about us?
      <select>
        <option>Google</option>
        <option>Friend</option>
        <option>Magazine</option>
      </select>
    </label>

    <input type="submit" value="Send" />
  </form>
</section>