<section>
  <h1>The Republican Civil War Is Over — The Populists Won</h1>
  <p><em>We’re witnessing a major political realignment</em></p>
  <p><img class="float-left" src="http://via.placeholder.com/450x150" />Announcing that he will <em>retire at the end of this term,</em> Arizona Senator Jeff Flake delivered a <a href="#fasda">blistering critique of President Donald Trump:</a></p>
  <blockquote>
    <p>We must never meekly accept the daily sundering of our country — the personal attacks, the threats against principles, freedoms, and institutions; the flagrant disregard for truth or decency, the reckless provocations, most often for the pettiest and most personal reasons, reasons having nothing whatsoever to do with the fortunes of the people that we have all been elected to serve.</p>
    <footer>
      Donald Trump, <cite>interview with BBC News</cite>
    </footer>
  </blockquote>
  <p>Flake thus joins Tennessee Senator Bob Corker as a vocal, retiring <a href="http://google.co.uk">anti-Trump Republican</a>. Corker has been calling the president a threat to national security whose legacy will be <q>the debasement of our nation.</q></p>
  <figure>
    <img src="http://via.placeholder.com/350x150" />
    <figcaption>Hey 'Resisters,' Is Trump an Existential Threat to America Or Not?</figcaption>
  </figure>
  <p>Flake is 54 — young for a <del>Senator</del> <ins>Gubernator</ins> — and in fine health. He’s retiring because of poor reelection prospects. A recent Morning Consult poll found that just 30% of Arizonans approve of his performance, compared to 53% who disapprove. Among Arizona Republicans, it’s 37% — 50%. And he’s trailing pro-Trump, Bannon-backed candidate Kelli Ward in primary polls by double digits.</p>
  <p><s>According to Gallup’s weekly tracking poll, <a href="#">Trump’s national approval rating</a> among Republicans is 80%. Flake is thus the latest conservative to realize the Republican party has left him. He’s still the same small government advocate, but the dominant force in the party is right-wing populism.</s></p>
  <h2>The New Realignment</h2>
  <p>The main ideological divide in American politics has shifted from big government vs. small government—that is, pro- and anti-redistribution — to Together vs. Apart. This is taking place all across the West, and American political parties are just starting to catch up.</p>
  <h2>21st Century Conservatism</h2>
  <p><img class="float-right" src="http://via.placeholder.com/150x150" />Some conservatives see Trump as an aberration — as if he stole their party through charismatic, reality show media manipulation and they’ll get it back as soon as he’s gone.</p>
  <p>However, while Trump is the Apartists’ current avatar, the forces are bigger than he is. This was most evident in the recent Alabama Republican Senate primary, in which the establishment-friendly, Trump-endorsed Luther Strange lost to Roy Moore, who believes Muslims should be disqualified from holding office, and twice lost his post as Alabama’s chief justice for defying the Constitution.</p>
  <p>Conservatives still play a large role in Congress, but haven’t been able to translate that into legislative success. After failing on healthcare, and abandoning plans for revenue-neutral tax reform, they might squeeze through a deficit-financed tax cut that mostly benefits the wealthiest Americans. But they’re on the decline — either retiring like Corker, wilting in the face of a populist primary challenge like Flake, or opportunistically kowtowing to Trump, like Paul Ryan and Ted Cruz.</p>
  <p>The word <q>conservative</q> will probably stick around. But it’s lost much of the connection to conservatism.</p>
  <p>The main pillars of conservative political philosophy are:</p>
  <ul>
    <li>Burke’s wariness of abandoning traditional values and societal structures, perhaps best expressed in William F. Buckley’s quip about <q>standing athwart history yelling ‘Stop!’</q></li>
    <li>Advocacy of individual freedom, as illustrated the in Constitution’s Bill of Rights.</li>
    <li>Support for markets and decentralized control — most notably in contrast to the central planning of socialism —primarily associated with economists such as F.A. Hayek and Milton Friedman.</li>
  </ul>
  <p>Right-wing populists reject most of that, except for a selective reading of individual rights — 2nd amendment absolute, 1st and 4th not — and a version of <q>traditional values</q> that makes modern Burkeans cringe. They support entitlements, as long as those entitlements go to <q>us</q> and not <q>them.</q> They’re comfortable with attacks on individual freedom, such as Trump’s threats against the press and peaceful protesters. And they like government intervention into the economy, so long as it’s in favor of industries they consider <q>theirs,</q> such as coal mining or certain types of manufacturing.</p>
  <h2>The Last Realignment</h2>
  <p>The successful, late-20th century Republican party grew out of the last major realignment. The GOP shifted U.S. politics away from the redistributionist, pro-regulation New Deal coalition by cobbling together:</p>
  <ol>
    <li>Ideological small government and economic conservatives, many of whom favored Barry Goldwater’s failed 1964 presidential campaign.</li>
    <li>National security hawks, including both Eisenhower traditionalists and neoconservatives.</li>
    <li>Social and religious conservatives, who opposed cultural changes, such as the sexual revolution, secularization, and legalized abortion.</li>
    <li>Southern whites who didn’t like Civil Rights.</li>
  </ol>
  <p>The southern whites were mostly Democrats, owing to Republicans’ legacy as the party of Lincoln. George Wallace, for example, became governor of Alabama in 1963 as a Democrat, making states’ rights arguments to oppose racial integration of schools. Goldwater captured many of those voters when running against pro-Civil Rights Democrat Lyndon Johnson, and Nixon courted them in 1968 with the <q>Southern Strategy.</q></p>
  <p>This Republican coalition reached its apotheosis in the 1980s with Ronald Reagan’s two presidential election landslides. It delivered George HW Bush one presidential term — the only time a party has held the White House for more than eight years since Truman — and stayed together through the early 2000s. Though a Democrat, Bill Clinton declared the era of big government is over, made welfare reform and balanced budget deals with the Republican Congress led by Newt Gingrich, and reduced financial regulations. George W. Bush similarly combined tax cutters, hawks, Christians, and southern whites to win two presidential terms, albeit by much closer margins than Reagan.</p>
</section>
<hr />
<section>
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <p>Ut dignissim scelerisque metus vitae molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer fermentum odio vitae laoreet cursus. Donec elementum velit maximus velit facilisis laoreet. Sed ultricies fermentum justo. Curabitur semper eleifend eros ac porta. Phasellus at ornare erat.</p>
  <ul>
    <li>Aliquam consectetur</li>
    <li>Enim et vehicula ultrices</li>
    <ul>
      <li>Elit augue pulvinar ante</li>
      <li>Efficitur viverra sem arcu ut urna</li>
      <ol>
        <li>Cras tempus neque eget ante vestibulum</li>
        <li>auctor accumsan enim gravida</li>
      </ol>
      <li>Orci varius natoque penatibus et magnis dis parturient montes</li>
      <li>nascetur ridiculus mus</li>
    </ul>
    <li>Nullam mattis nisl felis</li>
    <li>Non lacinia lorem congue a</li>
  </ul>
  <p>Ex quam auctor diam, sed congue orci lectus eget est. Integer semper tellus sit amet arcu condimentum euismod. Praesent pellentesque diam eu lectus bibendum vestibulum. Cras ut ipsum sed urna venenatis vestibulum. Pellentesque vel lorem dictum, blandit est vel, vestibulum ligula. Etiam hendrerit placerat est, faucibus blandit elit pellentesque euismod. Duis lacinia lorem sit amet ligula rutrum, quis imperdiet urna mollis. Mauris aliquam enim tellus, in hendrerit metus rutrum eget. Morbi tristique lectus et sem tempus, sit amet tempor ipsum venenatis.</p>
  <h2>Integer posuere, justo nec dictum euismod</h2>
  <p>Elit leo vehicula eros, quis fermentum lorem ligula eget purus. Fusce sollicitudin placerat lacus at pulvinar. Etiam eu neque placerat, consequat nunc eu, ultricies massa. Nullam ultrices tellus sit amet augue convallis consequat. Donec consequat, tortor non scelerisque feugiat, magna nulla varius justo, sed pulvinar sapien felis nec dolor. Suspendisse potenti. Nunc ac nisl non tellus rhoncus vestibulum in eget nisi. Vivamus accumsan ut nulla eget molestie.</p>
  <h3>Pellentesque pretium, quam ac fringilla scelerisque</h3>
  <ol>
    <li>Orci varius natoque penatibus</li>
    <li>Et magnis dis parturient montes</li>
    <li>Nascetur ridiculus mus</li>
    <ol>
      <li>Suspendisse potenti</li>
      <li>Duis eu ornare eros</li>
      <ul>
        <li>Proin vulputate libero id arcu pretium</li>
        <li>At auctor erat sodales</li>
      </ul>
    </ol>
  </ol>
  <h4>Nulla sed posuere dolor</h4>
  <p>Praesent suscipit leo dolor, facilisis facilisis quam porttitor ac. Mauris faucibus quis eros vitae posuere. Suspendisse at velit id leo interdum imperdiet a et erat. Mauris velit diam, ultrices at ligula eget, aliquam cursus odio. Donec congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
  <hr />
  <p>Quisque pellentesque augue a tempor faucibus</p>
  <table>
    <thead>
      <tr>
        <th>Heading 1</th>
        <th>Heading 2</th>
        <th>Heading 3</th>
        <th>Heading 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
      </tr>
    </tbody>
  </table>
  <p>Fusce <code>&lt;section&gt;</code>sollicitudin placerat lacus at pulvinar. Etiam eu neque placerat, <var>deleniti</var> consequat nunc eu, ultricies massa. Nullam <kbd>ctrl + x</kbd> ultrices tellus sit amet augue convallis consequat. Donec consequat, tortor non scelerisque feugiat, magna nulla varius justo, sed pulvinar sapien felis nec dolor. Suspendisse potenti. Nunc ac nisl non tellus <samp>This text is meant to be treated as sample output from a computer program</samp> rhoncus vestibulum in eget nisi. Vivamus accumsan ut nulla eget molestie.</p>
  <pre><code>&lt;h1&gt;Nisi perferendis dolorum.&lt;/h1&gt;
  &lt;a href&#x3D;&quot;#&quot;&gt;amet&lt;/a&gt;</code></pre>
  <p>Pellentesque pretium, <a href="#">quam ac fringilla</a> scelerisque, elit leo vehicula eros, quis fermentum lorem ligula eget purus.</p>
  <figure>
      <img src="http://via.placeholder.com/350x150" />
      <figcaption>Image caption</figcaption>
  </figure>
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam viverra ac felis non congue. Suspendisse potenti. Duis eu ornare eros. Proin vulputate libero id arcu pretium, at auctor erat sodales. Nulla sed posuere dolor. Quisque pellentesque augue a tempor faucibus. Praesent suscipit leo dolor, facilisis facilisis quam porttitor ac. Mauris faucibus quis eros vitae posuere. Suspendisse at velit id leo interdum imperdiet a et erat. Mauris velit diam, ultrices at ligula eget, aliquam cursus odio. Donec congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
    <dl>
      <dt>Lavern Murphy</dt>
      <dd>Dynamic</dd>
      <dt>Amaya Osinski</dt>
      <dd>Legacy</dd>
      <dt>Mrs. Sam Lynch</dt>
      <dd>National</dd>
      <dt>Kane Fritsch</dt>
      <dd>Product</dd>
      <dt>Pablo Weissnat</dt>
      <dd>Human</dd>
  </dl>
  <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam viverra ac felis non congue. Suspendisse potenti. Duis eu ornare eros. Proin vulputate libero id arcu pretium, at auctor erat sodales. Nulla sed posuere dolor. Quisque pellentesque augue a tempor faucibus. Praesent suscipit leo dolor, facilisis facilisis quam porttitor ac. Mauris faucibus quis eros vitae posuere. Suspendisse at velit id leo interdum imperdiet a et erat. Mauris velit diam, ultrices at ligula eget, aliquam cursus odio. Donec congue elit sit amet libero luctus, blandit condimentum erat feugiat.</p>
  <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
  <p>Nulla vel feugiat eros, mattis rutrum sem. Duis a magna mollis, imperdiet tortor ac, malesuada magna. Pellentesque at tincidunt nunc, et posuere dui. Morbi in ante lectus. Sed bibendum erat ut neque tempus, sed laoreet purus vestibulum. Donec posuere, ligula eget vulputate porta, erat ante dapibus tellus, ultricies pellentesque lacus ex at augue. Proin id felis id quam ultricies semper id sed arcu. Suspendisse sollicitudin quam malesuada eros efficitur tincidunt. Duis ac lectus vitae dui varius gravida iaculis sed purus. Vivamus eget metus ut ligula eleifend commodo quis eu nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mattis consectetur orci sed ultrices. Sed et erat id metus lobortis laoreet at sed nisi.</p>
  
</section>