{{render '@header--default' header}}

<section class="content splash">
  <div class="content__section splash__content">
    <h1>Contact</h1>
    <p>
      <strong>
        <em>Starting a new project and need some guidance? I made some mistakes so you don't have to.</em>
      </strong>
    </p>
    <p>If you need a help with your project or you have some questions about the web then just give me a shout.</p>
    <p><strong>Email:</strong><br /> <a href="mailto:hello@adamp.co.uk">hello@adamp.co.uk</a></p>
    <p><strong>Twitter:</strong><br /> <a href="https://twitter.com/adampoczatek">@adampoczatek</a></p>
    <p><strong>Telephone:</strong><br /> <a href="tel:00447543920765">07543 920 765</a></p>
  </div>
</section>

<script src="http://localhost:3100/js/global.bundle.js"></script>