  <footer class="footer">
  <p class="footer__text">View source code on <a href="https://github.com/adampoczatek/adampoczatek.github.io">Github</a></p>
 </footer>
  {% if site.environment != 'development' %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112496312-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112496312-1');
  </script>
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:747600,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  {% endif %}

  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/typography/lists.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/typography/inline.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/typography/links.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/typography/quotes.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/typography/hr.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/figure.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/forms.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/images.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/tables.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/base/codes.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/atoms/button.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/atoms/content.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/atoms/splash.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/molecules/hero.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/organisms/form.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/components/organisms/footer.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/helpers/content.css" />
  <link media="all" rel="stylesheet" href="{{ site.cdn_url }}/{{ site.ui_release }}/css/helpers/table.css" />
  <script src="{{ site.cdn_url }}/{{ site.ui_release }}/js/global.bundle.js"></script>
</body>
</html>