<div id="hire-me" class="alt modal">
    <button class="modal__close" id="hire-me-close">
        <i class="icon icon--close"></i>
    </button>
    <div class="_s-in _s-d-in--sm modal__content modal__content--narrow">
        <h1>Hire Me</h1>
        <p class="_s-b-d">I can help you build any kind of web-based project — whether it's a small website, e-commerce site or large web application, I am here to help.</p>

        <div class="_g _s-b">
            <div class="_g__24 _g__8--md _g__5--xlg ">
                <p class="type-intro type-clear-bottom">Telephone</p>
            </div>
            <div class="_g__24 _g__16--md _g__19--xlg">
                <p class="type-intro"><a href="tel:+447543920765">+44 7543 920 765</a></p>
            </div>
            <div class="_g__24 _g__8--md _g__5--xlg">
                <p class="type-intro type-clear-bottom">Email</p>
            </div>
            <div class="_g__24 _g__16--md _g__9--xlg">
                <p class="type-intro"><a href="mailto:hello@adamp.co.uk">hello@adamp.co.uk</a></p>
            </div>
        </div>

        <p class="_s-b-d">Alternatively, fill out the form below and I’ll get back to you as soon as possible.</p>

        <form action="https://getsimpleform.com/messages?form_api_token=790a82fca559bb88a364ff402016110d" method="post">

            <input type="hidden" name="redirect_to" value="http://adamp.co.uk" />

            <div>
                <label for="name">Name</label>
                <input class="stretch" name="name" placeholder="Enter your full name" required pattern=[a-zA-Z] />
            </div>
            <div class="_s-t">
                <label for="email">Email</label>
                <input class="stretch" type="email" name="email" placeholder="Your email address" />
            </div>
            <div class="_s-t">
                <label for="tel">Telephone</label>
                <input class="stretch" type="tel" name="tel" placeholder="Include country code if outside UK" />
            </div>
            <button class="_s-t-d stretch--mb">Send</button>
        </form>
    </div>
      
</div>