<header class="site-header">
    <div class="_g">
        <div class="_g__12 _g__4--sm">
            <a href="/" class="logo logo--medium">
                <i class="icon icon--logo"></i> 
                <span class="_h">Adam Poczatek</span>
            </a>
        </div>
    
        <div class="_g__12 _g__20--sm">
            <button class="mobile-menu-trigger" onclick="this.classList.toggle('mobile-menu-trigger--opened'); document.querySelector('.nav--main').classList.toggle('nav--expanded')">
                <span class="mobile-menu-trigger__icon"></span>
            </button>

        <nav class="nav nav--main">
            <ul class="nav__list">
                <li class="_v--mb nav__item" style="display: none;">
                    <a href="/" class="nav__link {% if page.url == '/index.html' %}nav__link--active{% endif %}">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/about-me/" class="nav__link {% if page.url == '/about-me/' %}nav__link--active{% endif %}">About Me</a>
                </li>
                <li class="nav__item">
                    <a href="/ux-design/" class="nav__link {% if page.url == '/ux-design/' %}nav__link--active{% endif %}">UX Design</a>
                </li>
                <li class="nav__item">
                    <a href="/front-end-development/" class="nav__link {% if page.url == '/front-end-development/' %}nav__link--active{% endif %}">Front-end</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link nav__link--special">Hire Me</a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</header>