<nav class="nav {{include.navclass}}">
    <!-- Keeping it simple for the first release. -->
    <!--<ul class="nav__list">-->
        <!--<li class="nav__item {% if page.url == '/index.html'%}nav__item--current{% endif %}">-->
            <!--<a href="/" class="nav__link">Home</a></li>-->
        <!--<li class="nav__item {% if page.url == '/about/' %}nav__item--current{% endif %}">-->
            <!--<a href="/about/" class="nav__link">About</a>-->
        <!--</li>-->
        <!--<li class="nav__item {% if page.url == '/contact/' %}nav__item--current{% endif %}">-->
            <!--<a href="/contact/" class="nav__link">Contact</a>-->
        <!--</li>-->
    <!--</ul>-->
</nav>