<header id="site-header" class="site-header">
    <div class="_g site-header__contents">

        <div class="_g__12 _g__4--sm">
            <div class="site-header__logo">
                <a href="/" class="logo logo--medium">
                    <div class="icon icon--logo"></div> 
                    <span class="_h">Adam Poczatek</span>
                </a>
            </div>
        </div>
    
        <div class="_g__12 _g__20--sm">

            <div class="site-header__menu-wrapper">
                <span class="mobile-menu-trigger _v--mb site-header__menu-trigger" style="display: none;" id="nav-trigger">
                    <span class="mobile-menu-trigger__icon"></span>
                </span>

                <nav id="nav" class="nav nav--main site-header__menu">
                    <ul class="nav__list">
                        <li class="_v--mb nav__item" style="display: none;">
                            <a href="/" class="nav__link {% if page.url == '/index.html' %}nav__link--active{% endif %}">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="/about-me/" class="nav__link {% if page.url == '/about-me/' %}nav__link--active{% endif %}">About Me</a>
                        </li>
                        <li class="nav__item">
                            <a href="/ux-design/" class="nav__link {% if page.url == '/ux-design/' %}nav__link--active{% endif %}">UX Design</a>
                        </li>
                        <li class="nav__item">
                            <a href="/front-end-development/" class="nav__link {% if page.url == '/front-end-development/' %}nav__link--active{% endif %}">Front-end</a>
                        </li>
                        <li class="nav__item">
                            <a href="" class="nav__link nav__link--special hire-me-trigger">Hire Me</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</header>