/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target.
 */


/**
 * Float rules. There is no `.float` class.
 */
.float--none    { float: none !important; }
.float--right   { float: right!important; }
.float--left    { float: left !important; }

.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.center--horizontal {
    margin-left: auto;
    margin-right: auto;
}

.adjust-img {
    max-width: 100%;
    height: auto;
}

.space--top    { margin-top: $base--spacing-unit; }
.space--bottom { margin-bottom: $base--spacing-unit; }