<header class="header js-header">
  <div class="header__main">
    <a href="#" class="header__logo">
      <svg class="header__symbol" width="29px" height="20px" viewBox="0 0 29 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-25.000000, -21.000000)">
          <path d="M51.5218777,38.8958165 L51.5218777,38.8958445 C52.1969849,39.0000048 52.862932,38.9477847 53.5560448,38.913447 C53.7068734,38.9047717 53.8491715,38.8874769 54,38.8701542 C53.8934267,39.0525327 53.7422833,39.2435865 53.5914548,39.3910397 C52.9697916,39.9901434 52.2592457,40.4414861 51.4333099,40.7107302 C50.651658,40.971019 49.8611321,41.0145917 49.0528869,40.9450489 C48.4309088,40.8928288 47.8449705,40.7367003 47.2852818,40.4761036 C46.8678912,40.2853576 46.5036299,40.0334083 46.1662193,39.7381941 C46.1396547,39.712224 46.1039299,39.685946 46.0773653,39.6599759 C46.06852,39.6510207 46.06852,39.6510207 46.0599609,39.6423733 L46.0333963,39.6164032 C45.926823,39.5208903 45.8202498,39.416702 45.7225504,39.3038663 C45.5448424,39.1041651 45.384825,38.9044638 45.2339965,38.6874399 C44.9143053,38.2447445 44.6565886,37.793122 44.4434706,37.3763968 C45.5091176,36.4647562 46.5750508,35.3271364 47.6141332,33.9205804 C47.7206779,34.25044 47.8272512,34.5892269 47.9426698,34.9190865 C48.1911977,35.6310259 48.475479,36.3429653 48.7951702,37.0289346 C49.0882968,37.6543162 49.5680055,38.1492316 50.1896686,38.4790913 C50.5982139,38.6961152 51.051043,38.8262737 51.5218777,38.8958165 Z M45.7399548,25.0722429 L45.7399834,25.0722429 C45.9708207,24.7164131 48.4755362,21 53.5646325,21 L49.03491,27.9638809 C48.1466848,29.3008941 47.0630323,30.924782 45.7485425,32.9044716 C39.9843103,41.5701227 32.9499009,41.1793676 31.0314386,40.8841535 C29.7257942,40.6671295 28.5178777,40.1895368 27.46995,39.3734091 C26.1643056,38.3489328 25.3829399,37.0289346 25.1075325,35.4226773 C24.9475438,34.5023893 24.9741084,33.5731181 25.1340971,32.6528301 C25.4006592,31.1680559 25.9600329,29.787442 26.7505588,28.4937217 C27.2213935,27.7208869 27.7453573,26.9829774 28.3493299,26.3056555 C28.8644198,25.7238465 29.4149483,25.176683 29.9923562,24.6557975 C30.55173,24.1608541 31.1379832,23.7005562 31.7508011,23.2665363 C32.443599,22.771313 33.1895548,22.3545878 33.9800807,22.0334035 C34.4951992,21.8163795 35.0194493,21.6166783 35.5611325,21.4689173 C36.0765373,21.3211563 36.6005011,21.1996732 37.124465,21.1214551 C37.7818816,21.0259141 38.4655193,20.9826493 39.1317813,21.0172668 C39.5137619,21.0345895 39.8954277,21.1127797 40.268563,21.1909979 C41.3433702,21.4080219 42.25816,21.9205399 43.0398406,22.649802 C43.4572312,23.0405571 43.8215212,23.474577 44.1234931,23.9521977 L41.5302384,27.6247303 C41.4502297,27.3121934 41.3436565,27.0169792 41.2459571,26.7130896 C40.9616758,25.8533893 40.6242939,25.019659 40.046886,24.2990722 C39.4786382,23.5781776 38.7501155,23.1441577 37.7998871,23.1528051 C37.6667492,23.1528051 37.5333251,23.1354823 37.4001872,23.1528051 C36.4762086,23.2569654 35.6591181,23.6303977 34.9220363,24.1948839 C33.9895272,24.9157785 33.2435714,25.7838464 32.5684641,26.7304124 C32.2753375,27.1384622 32.0090903,27.5641427 31.7425283,27.9895152 C31.156275,28.9187584 30.6677497,29.8912945 30.2680498,30.9157708 C29.8149058,32.0707133 29.5306531,33.2426428 29.4863692,34.4757755 C29.4506444,35.3527987 29.5483438,36.2038517 29.9303244,37.011304 C30.4631622,38.1489238 31.4225222,38.687132 32.6658772,38.6611619 C33.1898411,38.6525145 33.7049596,38.5396789 34.2023588,38.348625 C35.1528735,37.98384 35.9876832,37.4280292 36.7782091,36.8029554 C37.870707,35.943255 38.8209354,34.9361014 39.7091606,33.8766998 C40.5708212,32.8432683 41.3436565,31.7492212 42.0807383,30.629232 L44.9939991,26.2531276 L45.7222355,25.098213 L45.7399548,25.0722429 Z"
            fill="#0000FF" fill-rule="nonzero">
          </path>
        </g>
      </svg>
    </a>
    <a href="#" class="header__toggler js-header-toggler">
      <span class="header__toggler-label js-header-toggler-label">Close</span>
      <svg class="header__toggler-icon js-header-toggler-icon" width="13px" height="8px" viewBox="0 0 13 8" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-346.000000, -18.000000)">
          <g id="Menu" transform="translate(300.000000, 13.000000)" fill="#0000FF">
            <polygon id="Dropdown" points="52.363961 9.89949494 57.3137085 4.94974747 58.7279221 6.36396103 52.363961 12.7279221 46 6.36396103 47.4142136 4.94974747"></polygon>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <nav class="header__nav js-header-menu">
    <a class="header__link" href="#home">Home</a>
    <a class="header__link" href="#about">About</a>
    <a class="header__link" href="#hub">Hub</a>
    <a class="header__link" href="#work">Work</a>
    <a class="header__link" href="#contact">Contact</a>
  </nav>
</header>