{{render '@header--default' header}}

<section class="content splash">
  <div class="content__section splash__content">
    <h1>Hello</h1>
    <p>
      <strong>
        <em>My name is Adam Poczatek and I’m a web developer and designer from Reading, UK.</em>
      </strong>
    </p> 
    <p>This is my personal website where I <a href="#">document my work</a>, <a href="#hublink">share my thoughts</a> and generally talk about the <em>web industry</em>.</p>
    <a href="#" class="button button--primary">More About This</a>
  </div>
</section>

<script src="http://localhost:3100/js/global.bundle.js"></script>