.site-header {
    // Fix z-index leak on mobile.
    position: relative;
    z-index: 1;
}

.site-header__menu-trigger {
    float: right;
}

@include _screen-mobile {
    .site-header {
        perspective: 500px;
    }


    .site-header__logo { 
        padding: $_base-spacing;
    }

    .site-header__menu-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
        backface-visibility: hidden;
    }   

    .site-header__menu-trigger {
        display: block;
            float: right;
    }
         
    .site-header__menu {
        position: absolute;
        top: 100%;
        left: 20%;
        right: 0;
        z-index: 10000;
        opacity: 0;
        background: $color-bg-alt-1;
        padding: $_base-spacing;
        border: .2em solid #fff;
        transform: scale(0) translate3d(0, 0, 0);
        transform-origin: 100% 0;
        transition: all .3s cubic-bezier(0, 0.8, 0.1, 1.09);
    }

    .site-header__menu--expanded {
        opacity: 1;
        transform: scale(1);
    }
}

@include _screen-small {
    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: $color-bg-1;
        padding: $_base-spacing * 2 $page-padding-small;
    }

    .site-header--shadow {
        box-shadow: 0 0 10em rgba(0,0,0,.2)
    }

    .site-header__menu {
        text-align: right;
    }
}

@include _screen-large {
     .site-header__logo {
        font-size: 1.2em;
    }
}