
@media all and (min-width: 1020px) {
  .splash {
    min-height: calc(100vh - 0.2rem - 1.15rem - 1.15rem - 2.2em);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
}