@charset "UTF-8";
/*------------------------------------*\
    STYLE.SCSS
\*------------------------------------*/
/**
 * Here we start to pull everything together into one big stylesheet.
 *
 * SETUP............Settings, tools, mixins, etc.
 * GENERIC..........normalize.css, reset, shared styles, etc.
 * BASE.............Basic HTML elements.
 * OBJECTS..........Objects, abstractions, design patterns.
 * GUI..............Components and modules.
 * TRUMPS...........Helpers, overrides, ‘trump-cards’.
 */
/*------------------------------------*\
    #SETUP
\*------------------------------------*/
/**
 * Settings, variables and tools.
 */
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * Pull in all the settings we require for this project.
 */
/*------------------------------------*\
    #VARS
\*------------------------------------*/
/**
 * Generic, non-specific variables.
 */
/**
 * Framework variables. We don’t need to edit these, they’re just handy
 * variables sourced from other settings.
 */
/**
 * Breakpoints
 */
/*------------------------------------*\
    #BRAND
\*------------------------------------*/
/*------------------------------------*\
    #TYPE
\*------------------------------------*/
.type--left {
  text-align: left; }

.type--right {
  text-align: right; }

/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/
/**
 * Some nice functions we can use to make our lives easier. Feel free to add as
 * many as you like!
 */
/**
 * Strip the unit from a number (e.g. 18px --> 18).
 */
/**
 * Basic maths on numbers.
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Some nice mixins we can use to make our lives easier. Feel free to add as
 * many as you like!
 */
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 * 
   `@include font-size(10px);`
 * 
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 * 
   `@include vendor(border-radius, 4px);`
 * 
 */
/**
 * A simple top-to-bottom linear gradient with fallback color of our choice.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * These are far reaching styles that affect and underpin every element on the
 * page, e.g. `* {}`.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Pull in all our generic styles, e.g. resets.
 */
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
 * Let’s make the box model all nice, shall we…?
 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
a, u, ins {
  text-decoration: none; }

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic; }

/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 0.5em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.25em; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 2em; }

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * These are base HTML elements, things with no classes on them, e.g. `h1 {}`,
 * `blockquote {}`.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Pull in all the base files we want.
 */
/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, etc.
 */
/**
 * 1. One off bits of maths to get our base font size in ems.
 */
html {
  font-size: 0.9375em;
  /* [1] */
  line-height: 1.5;
  /* [1] */ }
  @media all and (min-width: 48em) {
    html {
      font-size: 1.2em; } }

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  color: #108dff; }

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Everything related to typography.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a6269;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700; }

html {
  color: #78898f;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    html {
      font-weight: 300; } }

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/**
 * These are your components and modules; things like buttons, accordions,
 * carousels, etc.
 */
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/**
 * Pull in all our components.
 */
/*------------------------------------*\
    #BOX
\*------------------------------------*/
.box {
  padding: 1em; }

.box--contrast {
  background: #2e353a; }

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/
button,
.button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #76beff;
  text-align: center;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em; }

/*------------------------------------*\
    #COMMENTS
\*------------------------------------*/
/*------------------------------------*\
    #GRID
\*------------------------------------*/
/**
 * Simple grid layout based on Snook's idea
 * Source: http://snook.ca/archives/html_and_css/rethinking-the-grid
 */
.grid, .post--listing {
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }

.grid--center, .post--listing {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.grid__cell, .post--listing .post__image,
.post--listing .post__content {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1; }

.grid__cell--half {
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  -o-flex: 0 0 50%;
  flex: 0 0 50%; }

.grid__cell--third {
  -webkit-flex: 0 0 33.333%;
  -moz-flex: 0 0 33.333%;
  -ms-flex: 0 0 33.333%;
  -o-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.grid__cell--quarter {
  -webkit-flex: 0 0 25%;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  -o-flex: 0 0 25%;
  flex: 0 0 25%; }

.grid__cell--fifth {
  -webkit-flex: 0 0 20%;
  -moz-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  -o-flex: 0 0 20%;
  flex: 0 0 20%; }

.grid__cell--tenth, .post--listing .post__image {
  -webkit-flex: 0 0 10%;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  -o-flex: 0 0 10%;
  flex: 0 0 10%; }

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@media all and (min-width: 28em) {
  .l--main {
    width: 90%;
    margin-left: auto;
    margin-right: auto; } }
@media all and (min-width: 48em) {
  .l--main {
    width: 80%; } }
@media all and (min-width: 68em) {
  .l--main {
    max-width: 68em; } }

/*------------------------------------*\
    #LIST
\*------------------------------------*/
.list--posts .list__item {
  padding: 1em; }
.list--posts .list__heading,
.list--posts .list__meta {
  margin: 0; }
.list--posts .list__item {
  border-bottom: 0.1em solid #e6f1fa; }

/*------------------------------------*\
    #LOGO
\*------------------------------------*/
.logo {
  display: inline-block;
  padding: 1em;
  text-align: center; }

.logo__title,
.logo__subtitle {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

.logo__title {
  font-size: 1.8em;
  font-family: "Roboto", serif;
  font-weight: 400; }

.logo__subtitle {
  font-size: 1em;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo__title,
  .logo__subtitle {
    font-weight: 100; } }

.logo--contrast .logo__title {
  color: white; }
.logo--contrast .logo__subtitle {
  color: #78898f; }

.logo--main {
  display: block; }

/*------------------------------------*\
    #NAV
\*------------------------------------*/
.nav__item {
  display: inline-block; }

.nav--main .nav__link {
  display: block;
  padding: 1em;
  border-bottom: 0.1em solid; }

.nav--contrast .nav__link {
  color: #fafad7;
  border-bottom-color: #fafad7; }
.nav--contrast .nav__item--current .nav__link {
  color: #ff6969;
  border-bottom-color: #ff6969; }

/*------------------------------------*\
    #POST
\*------------------------------------*/
.post--listing .post__image {
  margin-right: 1em; }
.post--listing .post__heading {
  margin-bottom: 0.33333em;
  line-height: 1.2; }

/*------------------------------------*\
    #TOUCH
\*------------------------------------*/
/**
 * Simple component/helper for mobile users. It increases the
 * clickable area to the size of it's parent.
 */
.touch {
  position: relative; }

.touch__control {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }
  @media all and (min-width: 28em) {
    .touch__control {
      display: none; } }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * These are helper classes and overrides that should take precedence over all
 * other styles, e.g. `.float--left {}`.
 */
/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of human-readable widths that can be combined with, and applied to
 * a multitude of other components and objects. Used primarily with
 * `.layout__item`s.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target.
 */
/**
 * Float rules. There is no `.float` class.
 */
.float--none {
  float: none !important; }

.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.reset, .list--posts, .nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.center--horizontal, .logo--main {
  margin-left: auto;
  margin-right: auto; }

.adjust-img {
  max-width: 100%;
  height: auto; }

.space--top, .comments, .post__footer {
  margin-top: 1em; }

.space--bottom {
  margin-bottom: 1em; }
