/*------------------------------------*\
    #GRID
\*------------------------------------*/
/**
 * Simple grid layout based on Snook's idea
 * Source: http://snook.ca/archives/html_and_css/rethinking-the-grid
 */

.grid {
    display: -ms-Flexbox;
    -ms-box-orient: horizontal;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.grid--center { @include vendor(align-items, center); }


.grid__cell { @include vendor(flex, 1); }

.grid__cell--half    { @include vendor(flex, 0 0 50%); }

.grid__cell--third   { @include vendor(flex, 0 0 33.333%); }

.grid__cell--quarter { @include vendor(flex, 0 0 25%); }

.grid__cell--fifth   { @include vendor(flex, 0 0 20%); }

.grid__cell--tenth   { @include vendor(flex, 0 0 10%); }