/*------------------------------------*\
    #POST
\*------------------------------------*/

.post {

}

.post--full {

    .post__heading,
    .post__content,
    .post__footer {
        @extend .box;
    }

    .post__content {
        @extend .l--main;
    }

    .post__heading {
        text-align: center;
        border-bottom: $brand--main-border-style;
    }
}

.post--listing {
    @extend .grid;
    @extend .grid--center;
    @extend .l--main;

    .post__image,
    .post__content {
        @extend .grid__cell;
    }

    .post__image {
        @extend .grid__cell--tenth;
        margin-right: $base--spacing-unit;
    }

    .post__heading {
        margin-bottom: $base--spacing-unit / 3;
    }
}