/*------------------------------------*\
    #POST
\*------------------------------------*/

.post {

}

.post--full {

    .post__heading,
    .post__content,
    .post__footer {
        @extend .box;
    }

    .post__content {
        @extend .l--main;
    }

    .post__heading {
        text-align: center;
        border-bottom: $brand--main-border-style; 
    }

    .post__heading--image {
        padding-top: $base--spacing-unit * 20;
        background-repeat: no-repeat; 
        background-size: auto 100%;
        background-position: center center;

        .post__title {
            display: inline-block;
            padding: $base--spacing-unit / 2;
            background: rgba(0, 0, 0, .8);
            color: $brand--headings-color--inverse;
        }

        @media all and (min-width: $breakpoint--small) {
            background-size: 100%;
        }
    }
}


.post--listing {
    @extend .grid;
    @extend .grid--center;
    @extend .l--main;

    .post__image,
    .post__content {
        @extend .grid__cell;
    }

    .post__image {
        @extend .grid__cell--tenth;
        margin-right: $base--spacing-unit;
    }

    .post__heading {
        margin-bottom: $base--spacing-unit / 3;
    }
}