/*------------------------------------*\
    #TOUCH
\*------------------------------------*/
/**
 * Simple component/helper for mobile users. It increases the
 * clickable area to the size of it's parent.
 */

.touch {
    position: relative;
}

.touch__control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    @media all and (min-width: $breakpoint--small) {
    // Hide touch controllers for desktop users.
    & {
        display: none;
    }
}
}