.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__main {
  padding: var(--global-spacing-small);
}

.header__logo {
  display: block;
  padding: var(--global-spacing-small);
}

.header__toggler {
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--global-spacing-small);
}

.header__toggler,
.header__toggler:visited {
  color: var(--global-colors-action);
}

.header__toggler:active {
  color: var(--global-colors-action-active);
}

.header__toggler-icon {
  margin-left: var(--global-spacing-small);
  transition: all 0.3s;
}

.header__toggler:active .header__toggler-icon g {
  fill: var(--global-colors-action-active);
}

.header__toggler-icon--active {
  transform: rotate(-180deg);
}

.header__symbol {
  vertical-align: middle;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--global-spacing-small) 0;
}

.header__link {
  flex: 0 0 auto;
  padding: 0 var(--global-spacing-regular);
  height: 3.3em;
  line-height: 3.3em;
  white-space: nowrap;
  text-align: center;
}

.header__link:focus,
.header__link:hover {
  background-color: var(--global-colors-action);
  color: white;
  outline: none;
}

.header__link:active,
.header__link--active,
.header__link--active:active,
.header__link--active:hover,
.header__link--active:visited {
  background-color: var(--global-colors-action-active);
  color: white;
}

@media all and (min-width: 600px) {
  .header {
    padding: 0 var(--global-spacing-small);
    justify-content: space-between;
  }

  .header__logo {
    padding: var(--global-spacing-small) var(--global-spacing-regular);
  }

  .header__link + .header__link {
    margin-left: var(--global-spacing-tiny);
  }
}

@media all and (min-width: 1000px) {
  .header__link {
    height: 2.8em;
    line-height: 2.8em;
  }
}

@media all and (max-width: 600px) {
  .header--condensed {
    flex-direction: column;
  }

  .header--condensed .header__main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header--condensed .header__toggler {
    display: flex;
  }

  .header--condensed .header__nav {
    width: 100%;
    padding: 0;
    display: none;
  }

  .header--condensed .header__nav--active {
    display: block;
  }

  .header--condensed .header__link {
    display: block;
    text-align: left;
  }
}
