$color-bg-1: #fff;
$color-bg-alt-1: #16171a;
$color-bg-alt-2: #121316;
$color-bg-alt-3: #0f1013;

$color-text-1: #2b2b2b;
$color-text-alt-1: #fff;
$color-text-alt-2: #63656c;

$color-action: #f7266e;

$color-input-alt: rgba(255, 255, 255, .1);
$color-input-focus-alt: rgba(255, 255, 255, .2);
$color-input-placeholder-alt: rgba(255, 255, 255, .2);
