<!DOCTYPE html>
<html>
<head>
  <!-- Accessibility: https://bitsofco.de/the-accessibility-cheatsheet/?utm_source=frontendfocus&utm_medium=email -->
  <!-- https://github.com/joshbuchea/HEAD?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning -->
  <!-- https://www.contentful.com/blog/2017/04/04/es6-modules-support-lands-in-browsers-is-it-time-to-rethink-bundling/ -->
  <title>Style Guide</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="App Title">
  <meta name="theme-color" content="#0000ff">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Style Guide">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@adampoczatek">
  <meta name="twitter:url" content="http://example.com/page.html">
  <meta name="twitter:title" content="Content Title">
  <meta name="twitter:description" content="Content description less than 200 characters">
  <meta name="twitter:image" content="http://example.com/image.jpg">
  <meta name="application-name" content="Sample Title">
  <meta name="msapplication-tooltip" content="A description of what this site does.">
  <meta name="msapplication-starturl" content="http://example.com/index.html?pinned=true">
  <meta name="msapplication-navbutton-color" content="#FF3300">
  <meta name="msapplication-window" content="width=800;height=600">
  <meta name="msapplication-task" content="name=Task 1;action-uri=http://host/Page1.html;icon-uri=http://host/icon1.ico">
  <meta name="msapplication-task" content="name=Task 2;action-uri=http://microsoft.com/Page2.html;icon-uri=http://host/icon2.ico">
  <meta name="msapplication-badge" value="frequency=NUMBER_IN_MINUTES;polling-uri=http://example.com/path/to/file.xml">
  <meta name="msapplication-TileColor" content="#FF3300">
  <meta name="msapplication-TileImage" content="/path/to/tileimage.jpg">
  <meta name="msapplication-config" content="http://example.com/browserconfig.xml">
  <meta name="msapplication-notification" content="frequency=60;polling-uri=http://example.com/livetile;polling-uri2=http://example.com/livetile2">
  <meta name="msapplication-task-separator" content="1">
  <meta property="og:url" content="http://adamp.co.uk/page.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Page Title">
  <meta property="og:image" content="http://adamp.co.uk/assets/image.jpg">
  <meta property="og:description" content="Page description">
  <meta property="og:site_name" content="Adam Poczatek">
  <meta property="og:locale" content="en_GB">
  <meta property="og:see_also" content="en_GB">
  <meta property="article:author" content="">
  <meta property="article:published_time" content="">
  <meta property="article:modified_time" content="">
  <meta property="article:section" content="">
  <meta property="article:tag" content="">
  <meta itemprop="name" content="Content Title">
  <meta itemprop="description" content="Content description less than 200 characters">
  <meta itemprop="image" content="http://example.com/image.jpg">
  <link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">
  <link rel="canonical" href="http://adamp.co.uk">
  <link rel="me" href="https://plus.google.com/116924436997592588589" type="text/html">
  <link rel="me" href="mailto:hello@adamp.co.uk">
  <link rel="me" href="sms:+00447543920765">
  <link rel="publisher" href="https://plus.google.com/+YourPage">
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/_config.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/page.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/global.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/headings.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/paragraphs.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/lists.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/inline.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/links.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/quotes.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/hr.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/figure.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/forms.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/images.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/tables.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/codes.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/components/atoms/button.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/components/molecules/grid.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/components/organisms/form.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/components/organisms/header.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/helpers/content.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/helpers/table.css" />
</head>
<body>

  {{{ yield }}}

  <script src="http://localhost:3100/js/global.bundle.js"></script>
</body>
</html>