<!DOCTYPE html>
<html>
<head>
  <!-- https://github.com/joshbuchea/HEAD?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning -->
  <!-- https://www.contentful.com/blog/2017/04/04/es6-modules-support-lands-in-browsers-is-it-time-to-rethink-bundling/ -->
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/config/theme-variables.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography.css" />
</head>
<body>

  {{{ yield }}}

</body>
</html>