<!DOCTYPE html>
<html>
<head>
  <!-- https://github.com/joshbuchea/HEAD?utm_source=SitePoint&utm_medium=email&utm_campaign=Versioning -->
  <!-- https://www.contentful.com/blog/2017/04/04/es6-modules-support-lands-in-browsers-is-it-time-to-rethink-bundling/ -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/_config.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/page.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/global.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/headings.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/paragraphs.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/lists.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/inline.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/links.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/quotes.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/typography/hr.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/figure.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/base/images.css" />
  <link media="all" rel="stylesheet" href="http://localhost:3100/css/helpers/float.css" />
</head>
<body>

  {{{ yield }}}

</body>
</html>