<table>
  <thead>
    <tr>
      {{#each data.headings}}
      <th>{{ text }}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data.rows}}
      <tr>
        {{#each columns}}
        <td>{{ text }}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>