<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
        <meta charset="UTF-8" />

        <link href="http://fonts.googleapis.com/css?family=Roboto:100,400|Roboto+Slab:400,700,100,300" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.min.css" rel="stylesheet" />
        <meta name="google-site-verification" content="gR58eeXKiJ2JpwxfMZQHa6rb6jbHGl4lsvekv2RlIKE" />
    </head>
    <body>
        <header class="[ box box--contrast ]">
            <div class="l--main">
                <a href="/" class="[ logo logo--contrast logo--main ]">
                    <h1 class="logo__title">Adam Poczatek</h1>
                    <p class="logo__subtitle">User Interface Developer</p>
                </a>
                {% include site-nav.html navclass='nav--main nav--contrast' %}
            </div>
        </header>

        <main>
        {{ content }}
        </main>

        <footer class="site__footer">
            <div class="l--main grid box">
                <div class="grid__cell grid__cell--third">
                    <p class="reset">&copy; 2014</p>
                </div>
                <div class="grid__cell">
                    <p class="reset type--right">
                        <a href="//twitter.com/adampoczatek" class="icon icon--twitter"></a>
                        <a href="//github.com/adampoczatek" class="icon icon--github"></a>
                        <a href="//dribbble.com/adampoczatek" class="icon icon--dribbble"></a>
                    </p>
                </div>
            </div>
        </footer>

        <script>
            // hotjar.com
            (function(f,b,g){
                var xo=g.prototype.open,xs=g.prototype.send,c;
                f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
                f._hjSettings={hjid:5476, hjsv:2};
                function ls(){f.hj.documentHtml=b.documentElement.outerHTML;c=b.createElement("script");c.async=1;c.src="//static.hotjar.com/c/hotjar-5476.js?sv=2";b.getElementsByTagName("head")[0].appendChild(c);}
                if(b.readyState==="interactive"||b.readyState==="complete"||b.readyState==="loaded"){ls();}else{if(b.addEventListener){b.addEventListener("DOMContentLoaded",ls,false);}}
                if(!f._hjPlayback && b.addEventListener){
                    g.prototype.open=function(l,j,m,h,k){this._u=j;xo.call(this,l,j,m,h,k)};
                    g.prototype.send=function(e){var j=this;function h(){if(j.readyState===4){f.hj("_xhr",j._u,j.status,j.response)}}this.addEventListener("readystatechange",h,false);xs.call(this,e)};
                }
            })(window,document,window.XMLHttpRequest);
        
            // Google Analytics
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-54400872-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
