<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta charset="UTF-8">

        <link href="http://fonts.googleapis.com/css?family=Roboto:100,400|Roboto+Slab:400,700,100,300" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="[ box box--contrast ]">
            <div class="l--main">
                <a href="/" class="[ logo logo--contrast logo--main ]">
                    <h1 class="logo__title">Adam Poczatek</h1>
                    <p class="logo__subtitle">User Interface Developer</p>
                </a>
                {% include site-nav.html navclass='nav--main nav--contrast' %}
            </div>
        </header>

        <main>
        {{ content }}
        </main>

        <footer class="site-footer">
            <div class="l--main grid box">
                <div class="grid__cell grid__cell--third">
                    <p class="reset">&copy; 2014</p>
                </div>
                <div class="grid__cell">
                    <p class="reset type--right">
                        <a href="//twitter.com/adampoczatek" class="icon icon--twitter"></a>
                        <a href="//github.com/adampoczatek" class="icon icon--github"></a>
                        <a href="//dribbble.com/adampoczatek" class="icon icon--dribbble"></a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>