* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--global-size) * 1px);
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: -0.01em;
  hyphens: auto;
}
