em,
ins {
  font-style: normal;
  font-weight: 400;
}

em {
  word-spacing: 0.075em;
  letter-spacing: 0.025em;
}

ins {
  text-decoration: none;
}

del {
  text-decoration-color: var(--global-colors-error);
}

@supports (text-decoration-style: wavy) and (text-decoration-color: var(--global-colors-error)) {
  mark {
    background: none;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--global-colors-error);
  }
}

cite {
  opacity: 0.5;
}
