ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul,
ol {
  margin-bottom: var(--global-spacing-regular);
  margin-top: var(--global-spacing-regular);
}

ul,
ol {
  padding-left: var(--global-spacing-large);
}

li + ul,
li + ol, {
  margin-top: var(--global-spacing-tiny);
  margin-bottom: var(--global-spacing-tiny);
}

ul li + li {
  margin-top: var(--global-spacing-tiny);
}

ol li + li {
  margin-top: var(--global-spacing-small);
}
